h4 { text-align: center;
     color: red;
}
h1 { text-align: center;
}
p { text-indent: 38px;
    font-size: 19px;
    line-height: 28px;
}
img { position: absolute;
    left: 50%;
    margin-left: -200px;
}
